$color-light: #ffffff;
$color-dark: #000000;
$color-grey: #F4F3F3;
$color-cart: #FFE2CA;
$color-cart-hover: #EED1B9;
$color-hover: #8b8b8b;
$color-footer: #03223E;

$base-size: 14px;

$font-title: 'Righteous', cursive;
$font-section-title: 'Kaushan Script', cursive;
$font-text: 'Noto Sans HK', sans-serif;