@import '../../style/settings.scss';

.cart-item {
    padding-bottom: 10px; 
    
    .cart-item-name {
        margin: 0;
        font-size: $base-size;
    }
    .cart-item-adds {
        margin: 0;
        font-size: $base-size*0.8;
    }
}